@use "sass:math";

.intellisense{
	top: 0;
	right: 0;
	width: 15em;
	display: none;
	z-index: 999999;
	position: absolute;
	margin-right: $padding2;
	background: $firstColor;
	padding-top: calc($border_size, 3);
	line-height: $padding_base + $padding2;
	border: $border_size solid $borderColor;
	margin-top: $header_size + $padding_base * 2.75;

	.msg{
		width: 100%;
		display: none;
		position: absolute;
		text-align: center;
		z-index: 9999999999;
		padding-top: $padding4;
		background: $secondColor;
		padding-bottom: $padding4;
		font-size: $smallFont - .075;
		border-bottom: $border_size solid $borderColor;
	}

	.footer{
		height: $padding_base * 3;
		font-size: $smallFont - .05;
		line-height: $padding_base * 3;
		margin-bottom: calc($border_size, 3);

		.learn{
			float: left;
			outline: none;
			display: block;
			cursor: pointer;
			color: $blueColor;
			text-decoration: none;
			margin-left: $padding_base;
			
			@include hover(transparent $fontColor);
			&:hover, &:focus{ text-decoration: underline; }
		}

		@include icons{
			float: right;
			cursor: pointer;
			margin-right: $padding_base;
			line-height: $padding_base * 3;
			@include hover(transparent, $blueColor);
		}
	}

	.header{
		text-align: center;
		font-size: $smallFont;
		height: $padding_base * 3;
		line-height: $padding_base * 3;
	}

	.content{
		overflow: auto;
		max-height: 12.5em;
		position: relative;
		font-size: $smallFont;
		padding: $padding_base;
		margin-left: $border_size;
		@include scrollbar;
	}
}