$bgColor: #191919;
$fontColor: #E0E0E0;
$iconColor: $fontColor;
$firstColor: #242424;
$secondColor: #202020;

$redColor: #C72C41;
$blueColor: #3282B8;
$greenColor: #009587;
$orangeColor: #D65A31;

$borderColor: rgba(100, 100, 100, .15);
$shadowColor: rgba(112, 112, 112, .125);