@import 'images-vars';

.logo{
	left: 0;
	position: absolute;
	background-size: 70%;
	display: inline-block;
	width: $left_bar_size;
	height: $left_bar_size;
	background-repeat: no-repeat;
	background-image: url($logo);
	background-position: center center;
}

.company{
	width: 100%;
	outline: none;
	background-size: 45%;
	height: $header_size * 2.25;
	background-repeat: no-repeat;
	background-image: url($company);
	background-position: center center;
}