.content{
	height: 82.7%;
	overflow: auto;
	position: absolute;
	background: $bgColor;
	margin-left: $left_bar_size;
	width: calc(100% - $left_bar_size);
	margin-top: $header_size + $frame_size;

	@include scrollbar;
	@import 'content/table';
	@import 'content/msg-return';
	@import 'content/list-content';
}