.frame{
	top: 0;
	width: 100%;
	position: fixed;
	color: $fontColor;
	height: $frame_size;
	background: $firstColor;
	-webkit-app-region: drag;
	z-index: 999999999999999999999;
	border-bottom: $border_size solid $borderColor;
	
	.label{
		float: left;
		font-size: 90%;
		padding: $padding2;
	}

	.options{
		height: 100%;
		float: right;
		-webkit-app-region: no-drag;

		.actived{ background: $blueColor; }
		.fa-times{ @include hover($redColor); }
	}

	@include icons{
		float: left;
		font-size: 90%;
		cursor: pointer;
		text-align: center;
		width: $frame_size;
		padding: $padding + .01;
		-webkit-app-region: no-drag;
		@include hover($blueColor);
	}

	.notify-bubble{
		z-index: 1;
		float: right;
		display: none;
		position: absolute;
		border-radius: 50%;
		margin-left: 1.35em;
		width: $padding_base;
		height: $padding_base;
		background: $orangeColor;
		font-size: $smallFont - .1;
		margin-top: -$padding_base * 1.9;
	}

	.actived{ background: $blueColor; }
}