.left-bar{
	top: 0;
	left: 0;
	height: 96%;
	position: fixed;
	z-index: 9999999;
	text-align: center;
	width: $left_bar_size;
	margin-top: $frame_size;
	background: $firstColor;
	border-right: $border_size solid $borderColor;

	@include icons{
		width: 100%;
		cursor: pointer;
		text-align: center;
		line-height: $left_bar_size;
		@include hover($blueColor);
	}

	.actived{ background: $blueColor; }
}