.status-bar{
	bottom: 0;
	width: 94.62%;
	position: fixed;
	z-index: 999999999;
	background: $firstColor;
	height: $header_size - $padding2;
	margin-left: $left_bar_size + $border_size;
	border-top: $border_size solid $borderColor;

	.tab{
		width: 9em;
		float: left;
		cursor: pointer;
		text-align: center;
		font-size: $smallFont;
		line-height: $header_size + $padding3;
		@include hover($blueColor);
	}

	.label{
		float: left;
		font-size: $smallFont;
		padding-left: $padding_base;
		padding-right: $padding_base;
		line-height: $header_size + $padding3;
	}

	.fab, .far, .fas{
		float: right;
		cursor: pointer;
		width: $icon_size;
		text-align: center;
		font-size: $smallFont;
		line-height: $header_size + $padding3;
		@include hover($blueColor);
	}
	
	nav{ float: right; }
	.actived{ background: $firstColor; }
}