.top-bar{
	top: 0;
	width: 94.62%;
	z-index: 99999999;
	position: absolute;
	@include box-shadow;
	height: $header_size;
	box-sizing: border-box;
	background: $firstColor;
	margin-top: $frame_size;
	margin-left: $left_bar_size;
	border-left: $border_size solid $borderColor;
	border-bottom: $border_size solid $borderColor;

	nav{
		float: right;
		height: $header_size;
	}

	.tab{
		width: 9em;
		float: left;
		cursor: pointer;
		text-align: center;
		font-size: $smallFont;
		line-height: $header_size + $padding5;
		@include hover($blueColor);
	}

	.label{
		float: left;
		font-size: $smallFont;
		padding-left: $padding_base;
		padding-right: $padding_base;
		line-height: $header_size + $padding5;
	}

	@include icons{
		float: left;
		cursor: pointer;
		width: $icon_size;
		text-align: center;
		font-size: $smallFont;
		line-height: $header_size + $padding5;
		@include hover($blueColor);
	}

	.custom{ float: right; }

	.actived{ background: $blueColor; }
}