footer{
	bottom: 0;
	width: 100%;
	position: fixed;
	z-index: 99999999;
	height: $header_size;
	background: $firstColor;
	border-top: $border_size solid $borderColor;

	.label{
		float: left;
		font-size: $smallFont;
		padding-left: $padding_base;
		padding-right: $padding_base;
		height: $header_size + $padding;
		line-height: $header_size + $padding5;
	}

	.company{
		width: 8em;
		float: right;
		height: 100%;
		outline: none;
		background-size: 70%;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url($company);
	}
}