.content{
	height: 88%;
	overflow: auto;
	position: absolute;
	background: $bgColor;
	margin-top: $header_size;
	margin-left: $left_bar_size;
	width: calc(100% - $left_bar_size);
	border-top: $border_size solid $borderColor;
	border-bottom: $border_size solid $borderColor;
	
	.msg-return{
		left: 0;
		width: 100%;
		display: none;
		z-index: 999999;
		position: fixed;
		background: $firstColor;
		font-size: $smallFont + .05;
		padding-left: $padding_base;
		height: $padding_base * 3.5;
		line-height: $padding_base * 3.5;
		border-top: $border_size solid $borderColor;
		border-bottom: $border_size solid $borderColor;
	}

	@include table;
	table{
		width: 95%;
		table-layout: fixed;
		margin-left: auto !important;
		margin-right: auto !important;
		margin: $padding_base + $padding2;
	}

	@include scrollbar;
}