.left-bar{
	top: 0;
	left: 0;
	height: 100%;
	position: fixed;
	text-align: center;
	width: $left_bar_size;
	background: $firstColor;
	z-index: 999999999999999;
	border-right: $border_size solid $borderColor;

	.fab, .far, .fas{
		width: 100%;
		cursor: pointer;
		text-align: center;
		height: $left_bar_size;
		line-height: $left_bar_size;
		@include hover($blueColor);
	}

	.actived{ background: $blueColor; }
}