.status-bar{
	bottom: 0;
	position: fixed;
	z-index: 999999999;
	background: $firstColor;
	line-height: $header_size - $padding2;
	margin-left: $left_bar_size + $border_size;
	border-top: $border_size solid $borderColor;
	width: calc(100% - $left_bar_size - $border_size);

	.icon{
		float: left;
		cursor: pointer;
		width: $icon_size;
		text-align: center;
		font-size: $smallFont;
		border-right: $border_size solid $borderColor;
		@include hover($firstColor);
	}

	.right{
		border-right: 0;
		border-left: $border_size solid $borderColor;
	}

	.actived{ background: $firstColor; }
}