.start-page{
	top: 0;
	width: 90%;
	height: 87%;
	overflow: auto;
	position: fixed;
	padding-left: 5%;
	z-index: 9999999;
	padding-right: 5%;
	background: $bgColor;
	padding-bottom: $padding_base;
	margin-top: $header_size + $frame_size;

	.section{
		float: left;
		width: 27.5em;
		box-sizing: border-box;
		font-size: $smallFont + .1;
		border-top: none !important;
		border-bottom: none !important;
		margin-top: $header_size - $padding2;
		border: $border_size solid $borderColor;
	
		.none{
			text-align: center;
			height: $padding_base * 4;
			font-size: $smallFont + .05;
			line-height: $padding_base * 4;
		}
	
		.item{
			cursor: pointer;
			height: $padding_base * 4.1;
			font-size: $smallFont + .05;
			line-height: $padding_base * 4.1;
			border-bottom: $border_size solid $borderColor;
	
			.label{
				float: left;
				width: $padding_base * 23.8;
			}
	
			.right{
				float: right;
				cursor: pointer;
				text-align: center;
				width: $padding_base * 3.5;
				height: $padding_base * 4.2;
				line-height: $padding_base * 4.2;
				@include hover;
			}
	
			.icon-tools{
				float: left;
				text-align: center;
				width: $padding_base * 4;
				height: $padding_base * 4.2;
				line-height: $padding_base * 4.2;
			}
	
			@include hover($firstColor);
			&:last-child{ border-bottom: none; }
			.name{ padding-left: $padding_base; }
		}
	
		input{
			border: none;
			display: none;
			outline: none;
			width: 30.2em;
			color: inherit;
			padding: $padding_base;
			background: $firstColor;
			font-size: $smallFont + .05;
			border-bottom: $border_size solid $borderColor;
			@include placeholder;
		}
	
		.header{
			background: $firstColor;
			font-size: $smallFont + .1;
			height: $padding_base * 3.2;
			line-height: $padding_base * 3.2;
			border-top: $border_size solid $borderColor;
			border-bottom: $border_size solid $borderColor;
	
			.label{
				float: left;
				padding-left: $padding_base;
			}
	
			.right{
				float: right;
				cursor: pointer;
				text-align: center;
				width: $padding_base * 3.1;
				height: $padding_base * 3.1;
				line-height: $padding_base * 3.1;
				border-left: $border_size solid $borderColor;
				@include hover;
			}
	
			.actived{ background: $secondColor; }
		}
	
		.content{
			height: auto;
			overflow: auto;
			max-height: 30.4em;
			border-bottom: $border_size solid $borderColor;
			@include scrollbar;
		}
	}

	@include scrollbar;
}