.activation-mdl{
	top: 50%;
	left: 50%;
	width: 22em;
	display: none;
	height: 19.5em;
	position: fixed;
	margin-left: -11em;
	margin-top: -9.75em;
	z-index: 9999999999999;
	background: $firstColor;
	
	.body{
		width: 100%;
		overflow: auto;
		padding-left: $padding_base;
		padding-right: $padding_base;

		.buy{
			float: left;
			outline: none;
			display: block;
			color: inherit;
			cursor: pointer;
			text-decoration: none;
			padding-left: $padding4;
			font-size: $smallFont - .05;
			margin-top: $padding_base * 2.25;
			
			@include hover(inherit, $blueColor);
			&:hover, &:focus{ text-decoration: underline; }
		}
		
		input{
			width: 80%;
			float: left;
			outline: none;
			display: block;
			color: inherit;
			margin-left: 2%;
			font-weight: 600;
			padding: $padding_base;
			background: transparent;
			font-size: $smallFont - .05;
			border: $border_size solid $borderColor;

			@include hover;
			@include placeholder;
		}

		.label{
			display: block;
			text-decoration: none;
			padding-left: $padding4;
			height: $padding_base * 3;
			font-size: $smallFont - .05;
			line-height: $padding_base * 3;
		}
		
		button{
			width: 9em;
			float: right;
			outline: none;
			color: inherit;
			cursor: pointer;
			text-align: center;
			margin-right: 10.75%;
			padding: $padding_base;
			background: $firstColor;
			margin-top: $padding_base;
			font-size: $smallFont - .05;
			border: $border_size solid $borderColor;
			@include hover;
		}
	}
}