.list-def-links{
	bottom: 0;
	width: 18em;
	height: auto;
	display: none;
	z-index: 99999;
	overflow: auto;
	position: fixed;
	background: $firstColor;
	margin-bottom: $header_size + $border_size;
	border-top: $border_size solid $borderColor;
	border-right: $border_size solid $borderColor;

	input{
		border: none;
		width: 20.5em;
		outline: none;
		color: inherit;
		font-size: $smallFont;
		background: $secondColor;
		height: $padding_base * 3;
		padding-left: $padding_base;
		padding-right: $padding_base;
		line-height: $padding_base * 3;
		border-bottom: $border_size solid $borderColor;
		@include placeholder;
	}

	.header{
		text-align: center;
		height: $padding_base * 3;
		font-size: $smallFont + .05;
		line-height: $padding_base * 3;
		border-bottom: $border_size solid $borderColor;
	}

	.content{
		overflow: auto;
		max-height: 15em;
		box-sizing: border-box;

		.link{
			color: inherit;
			cursor: pointer;
			height: $padding_base * 3;
			font-size: $smallFont + .05;
			padding-left: $padding_base;
			padding-right: $padding_base;
			line-height: $padding_base * 3;
			text-decoration: none !important;
			border-bottom: $border_size solid $borderColor;
	
			@include hover;
			&:last-child{ border-bottom: 0; }
		}

		@include scrollbar();
	}
}