.code-mdl{
	top: 50%;
	left: 50%;
	width: 42em;
	display: none;
	position: fixed;
	margin-top: -16em;
	margin-left: -21em;
	z-index: 9999999999999;
	@include drop-shadow-sm;
	background: $firstColor;
	border-radius: $padding2;
	font-size: $smallFont + .05;
	border-right: $border_size solid $firstColor;

	.CodeMirror{
		padding: 0;
		height: 24em;
		width: 99.9%;
		direction: ltr;
		overflow: hidden;
		font-weight: 700;
		position: relative;
		font-family: $codeFont;
		overflow-x: hidden !important;
		border-bottom-left-radius: $padding2;
		border-bottom-right-radius: $padding2;
	}

	.options-mdl{
		border-right: 0 !important;
		border-left: $border_size solid $borderColor; 
	}

	textarea{ opacity: 0; }
	.menu-box{ border-right: $border_size solid $borderColor; }
}