.def-mdl{
	top: 50%;
	left: 50%;
	width: 26em;
	height: 28em;
	display: none;
	position: fixed;
	margin-top: -14em;
	margin-left: -13em;
	z-index: 9999999999999;
	@include drop-shadow-sm;
	background: $firstColor;
	border-radius: $padding2;

	.body{
		overflow: auto;
		height: 20.6em;
		text-align: center;
		padding: $padding_base;

		.item{
			display: block;
			text-align: left;
			height: $menu_size;
			font-size: $smallFont;
			line-height: $menu_size;
			padding-left: $padding_base;
			padding-right: $padding_base;
			border-bottom: $border_size solid $borderColor;
			
			.far, .fas{
				float: right;
				cursor: pointer;
				line-height: $menu_size;
				@include hover(inherit, $blueColor);
			}

			.name{ float: left; }
			.value{ float: right; }
			&:hover, &:focus{ text-decoration: underline; }
			.fa-minus-circle{ @include hover(inherit, $redColor); }
		}

		input{
			width: 90%;
			outline: none;
			color: inherit;
			cursor: pointer;
			font-size: $smallFont;
			padding: $padding_base;
			background: $firstColor;
			margin-top: $padding_base;
			border: $border_size solid $borderColor;

			@include hover;
			@include placeholder;
		}

		select{
			width: 97.5%;
			outline: none;
			color: inherit;
			cursor: pointer;
			font-size: $smallFont;
			padding: $padding_base;
			background: $firstColor;
			border: $border_size solid $borderColor;

			@include hover;
			@include select;
		}

		.label{
			display: block;
			text-align: left;
			height: $menu_size;
			font-size: $smallFont;
			line-height: $menu_size;
			padding-left: $padding2;
			padding-right: $padding2;
			.value{ float: right; }
		}

		.item-check{
			display: block;
			cursor: pointer;
			text-align: left;
			height: $menu_size;
			font-size: $smallFont;
			margin-left: $padding2;
			margin-right: $padding2;
			margin-top: $padding_base;
			height: $padding_base * 3.5;
			line-height: $padding_base * 3.5;

			.lbl{ 
				float: left; 
				cursor: pointer;
				padding-left: $padding_base;
			}
			
			@include icons{
				float: right;
				cursor: pointer;
				padding-right: $padding_base;
				line-height: $padding_base * 3.5;
				@include hover(inherit, $blueColor);
			}

			&:hover, &:focus{ 
				cursor: pointer;
				text-decoration: underline;

				.lbl{ text-decoration: underline; }
				@include icons{ color: $blueColor; }
			}
		}

		@include scrollbar;
		.no-pdd-top{ margin-top: -$padding_base; }
	}
}