@use "sass:math";

.menu-user{
	top: 0;
	right: 0;
	display: none;
	width: 21.2em;
	position: fixed;
	z-index: 99999999;
	text-align: center;
	box-sizing: border-box;
	background: $firstColor;
	border-top: none !important;
	border-left: none !important;
	border-bottom: none !important;
	margin-top: $frame_size + $header_size;
	border: $border_size solid $borderColor;
	padding-bottom: math.div($border_size, 2);

	.item{
		display: block;
		color: inherit;
		cursor: pointer;
		text-align: left;
		font-size: $smallFont;
		text-decoration: none;
		box-sizing: border-box;
		line-height: $header_size + $padding2;
		border-bottom: $border_size solid $borderColor;

		@include icons{
			float: left;
			text-align: center;
			width: $header_size;
			line-height: $header_size + $padding2;
		}

		@include hover;
	}

	.trial{
		display: block;
		cursor: pointer;
		height: $icon_size;
		line-height: $icon_size;
		background: $secondColor;
		text-transform: uppercase;
		font-size: $smallFont - .05;
		border-bottom: $border_size solid $borderColor;
		@include hover($redColor);
	}

	.info-user{
		display: block;
		color: inherit;
		cursor: pointer;
		text-decoration: none;
		padding: $padding_base;
		margin-left: math.div($border_size, 2);
		border-bottom: $border_size solid $borderColor;

		.name{
			font-size: 100%;
			text-align: left;
			margin-top: $padding3;
			margin-bottom: $padding3;
			margin-left: $padding2 - .15;
		}

		.email{
			font-size: 72.5%;
			text-align: left;
			margin-left: $padding2;
			margin-bottom: $padding2;
			margin-top: 0 !important;
		}

		.avatar{
			float: left;
			margin-right: $padding4;
			@include border-radius(50%);
			width: $header_size + $padding3;
			height: $header_size + $padding3;
			margin-top: math.div(-$padding3, 2);
		}

		@include hover($secondColor);
	}
}