.menu-actions{
	top: 0;
	right: 0;
	width: 13em;
	display: none;
	overflow: auto;
	position: fixed;
	z-index: 999999;
	@include box-shadow;
	box-sizing: border-box;
	background: $firstColor;
	margin-top: $header_size;
	border-radius: $padding2;
	border-top: 0 !important;
	border-right: 0 !important;
	margin-top: $header_size + $frame_size;
	border: $border_size solid $borderColor;

	.item{
		cursor: pointer;
		font-size: $smallFont;
		padding-left: $padding_base;
		padding-right: $padding_base;
		border-left-color: transparent;
		line-height: $header_size + $padding3;
		
		@include hover($secondColor) {
			transition: .3s ease-in-out;
			border-left: $padding solid $blueColor;
		}

		&:last-child{ border-bottom: none; }
	}

	@include scrollbar;
}