@use "sass:math";

.mdl-title{
	height: $header_size;
	background: $secondColor;
	line-height: $header_size;
	border-top-left-radius: $padding2;
	border-top-right-radius: $padding2;
	
	input{
		width: 13em;
		float: right;
		border: none;
		outline: none;
		color: inherit;
		font-size: $smallFont;
		padding: $padding_base;
		padding-top: $padding_base + .35;
		padding-bottom: $padding_base + .35;

		@include hover;
		@include placeholder;
	}

	.label{
		float: left;
		outline: none;
		line-height: $header_size;
		font-size: $smallFont + .05;
		padding-left: $padding_base;
		padding-right: $padding_base;
	}

	.actived{
		color: $blueColor !important;
		background: inherit !important;
	}

	@include icons{
		float: right;
		cursor: pointer;
		margin-right: $padding_base;
		line-height: $padding_base * 3;
		@include hover(transparent, $blueColor);
	}

	.fa-times{ @include hover(transparent, $redColor); }
}