.mdl-bar{
	width: 100%;
	z-index: 9999999;
	position: relative;
	background: $secondColor;
	font-size: $smallFont + .05;
	height: $padding_base * 2.6;
	line-height: $padding_base * 2.6;
	border-bottom: $border_size solid $borderColor;

	.icon{
		float: left;
		cursor: pointer;
		text-align: center;
		width: auto !important;

		@include hover($firstColor);
		@include icons{ width: $icon_size; }
	}

	.item{
		width: 8em;
		float: left;
		cursor: pointer;
		text-align: center;
		margin-left: 0 !important;
		font-size: $smallFont + .05;
		@include hover($firstColor);
	}

	input{
		height: 94%;
		float: right;
		border: none;
		width: 10.5em;
		color: inherit;
		text-align: left;
		background: inherit;
		padding-left: $padding_base;
		font-size: $smallFont + .05;
		padding-right: $padding_base;
		border-left: $border_size solid $borderColor;

		@include placeholder;
		@include hover($firstColor);
	}

	select{
		width: 16em;
		float: left;
		border: none;
		height: 100%;
		color: inherit;
		cursor: pointer;
		text-align: left;
		background: inherit;
		padding-left: $padding_base;
		font-size: $smallFont + .05;
		padding-right: $padding_base;
		border-right: $border_size solid $borderColor;

		@include select;
		@include hover($firstColor);
	}

	.right{
		float: right !important;
		border-right: 0 !important;
	}

	.message{
		float: right;
		text-align: center;
		font-size: $smallFont + .05;
		padding-left: $padding_base;
		padding-right: $padding_base;
	}

	.shared-by{
		float: left;
		outline: none;
		text-align: center;
		text-decoration: none;
		font-size: $smallFont + .05;

		.name{
			float: left;
			outline: none;
			color: inherit;
			text-decoration: none;
			&:hover, &:focus{ text-decoration: underline; }
		}

		@include icons{
			float: left;
			text-align: center;
			margin-right: $padding2;
			width: $icon_size - $padding2;
			line-height: $padding_base * 3.05;
		}
	}
}