.def-tbl-mdl{
	top: 50%;
	left: 50%;
	width: 42em;
	height: 30em;
	display: none;
	overflow: auto;
	position: fixed;
	margin-top: -15em;
	margin-left: -21em;
	z-index: 9999999999999;
	background: $firstColor;

	.body{
		overflow: auto;
		height: 22.6em;
		text-align: center;
		padding: $padding_base;
		border-top: $border_size solid $borderColor;

		@include table;
		@include scrollbar;
	}
}