.dump-mdl{
	top: 50%;
	left: 50%;
	width: 30em;
	height: 28em;
	display: none;
	overflow: auto;
	position: fixed;
	margin-top: -14em;
	margin-left: -15em;
	z-index: 9999999999999;
	background: $firstColor;

	.body{
		overflow: auto;
		height: 20.55em;
		text-align: center;
		padding: $padding_base;
		border-top: $border_size solid $borderColor;

		.list{
			text-align: left;
			font-size: $smallFont + .1;
			margin-bottom: $padding_base;
			border: $border_size solid $borderColor;

			.list-item{
				cursor: pointer;
				height: $padding_base * 3;
				line-height: $padding_base * 3;
				border-bottom: $border_size solid $borderColor;

				.label{
					float: left;
					text-decoration: none;
					padding-left: $padding_base;
					line-height: $padding_base * 3.5;
				}
				
				.far, .fas{
					float: right;
					width: $icon_size;
					text-align: center;
					line-height: $padding_base * 3;
				}

				@include hover;
				&:hover, &:focus{
					.label{ text-decoration: underline; }
				}

				&:last-child{ border-bottom: none; }
			}
		}

		.item{
			display: block;
			cursor: pointer;
			text-align: left;
			height: $menu_size;
			font-size: $smallFont;
			line-height: $menu_size;
			padding-left: $padding_base;
			padding-right: $padding_base;
			border-bottom: $border_size solid $borderColor;
			
			.far, .fas{
				float: right;
				cursor: pointer;
				line-height: $menu_size;
				@include hover(inherit, $blueColor);
			}

			.name{ float: left; }
			.value{ float: right; }
			&:hover, &:focus{ text-decoration: underline; }
			.fa-minus-circle{ @include hover(inherit, $redColor); }
		}

		input{
			width: 93.5%;
			outline: none;
			color: inherit;
			cursor: pointer;
			font-size: $smallFont;
			padding: $padding_base;
			background: $firstColor;
			border: $border_size solid $borderColor;

			@include hover;
			@include placeholder;
		}

		.label{
			display: block;
			text-align: left;
			height: $menu_size;
			font-size: $smallFont;
			line-height: $menu_size;
			padding-left: $padding2;
			padding-right: $padding2;
			.value{ float: right; }
		}

		.input-restore{
			width: 93.5% !important;
			margin-top: 0 !important;
			font-weight: bold !important;
			text-align: center !important;
		}

		@include scrollbar;
		.no-pdd-top{ margin-top: -$padding_base; }
	}
}