.filter-bar{
	top: 0;
	z-index: 99999999;
	position: absolute;
	@include box-shadow;
	height: $header_size;
	box-sizing: border-box;
	background: $firstColor;
	margin-top: $frame_size;
	width: $windows_tools_size;
	margin-left: $left_bar_size;
	border-left: $border_size solid $borderColor;

	nav{
		float: right;
		height: $header_size;
	}

	input{
		float: left;
		width: 12em;
		border: none;
		outline: none;
		color: inherit;
		background: inherit;
		font-size: $smallFont + .1;
		padding-left: $padding_base;
		padding-right: $padding_base;
		line-height: $header_size + $padding6;
	}

	.label{
		float: left;
		font-size: $smallFont;
		padding-left: $padding_base;
		padding-right: $padding_base;
		line-height: $header_size + $padding5;
	}

	.fab, .far, .fas{
		float: left;
		cursor: pointer;
		width: $icon_size;
		text-align: center;
		font-size: $smallFont;
		line-height: $header_size + $padding5;
		@include hover($blueColor);
	}

	.actived{ background: $blueColor; }
}