.list{
	top: 0;
	height: 78% !important;
	position: fixed !important;
	padding-top: $padding_base;
	border-bottom: 0 !important;
	padding-bottom: $padding_base;
	width: $windows_tools_size !important;

	.ls-item{
		margin: auto;
		display: block;
		color: inherit;
		cursor: pointer;
		table-layout: fixed;
		width: 90% !important;
		text-decoration: none;
		background: $firstColor;
		margin-bottom: $padding2;
		font-size: $smallFont + .05;
		height: $padding_base * 5.5;
		border: $border_size solid $borderColor;

		.text{
			line-height: $header_size;
			cursor: pointer !important;
			padding-left: $padding_base;

			.fab, .far, .fas{
				float: right;
				cursor: pointer;
				text-align: center;
				width: $header_size;
				line-height: $header_size;
				@include hover($secondColor);
			}
		}

		.footer{
			line-height: $header_size;

			.link{
				float: left;
				cursor: pointer;
				font-size: $smallFont + .1;
				padding-left: $padding_base;
				line-height: $frame_size + $padding5;
			}

			input{
				float: left;
				width: 73.5%;
				border: none;
				outline: none;
				color: inherit;
				cursor: pointer;
				background: inherit;
				font-size: $smallFont + .1;
				padding-left: $padding_base;
				padding-right: $padding_base;
				line-height: $frame_size + $padding5;
			}

			.icons{
				float: right;
				
				.fab, .far, .fas{
					float: left;
					cursor: pointer;
					text-align: center;
					width: $header_size;
					font-size: $smallFont + .1;
					line-height: $frame_size + $padding5;
					@include hover($secondColor);
				}
			}
		}

		@include hover($blueColor);
		&:last-child{ margin-bottom: 0; }
	}
}