.list-content{
	margin: 2em;
	width: 57.4em;

	.item{
		height: 3.75em;
		color: inherit;
		display: block;
		cursor: pointer;
		line-height: 3.75em;
		text-decoration: none;
		box-sizing: border-box;
		background: $firstColor;
		margin-bottom: $padding2;
		border-radius: $padding2;
		border-left-color: transparent;

		.icon,
		.menu,
		
		.field1,
		.field2, 
		.field3,
		.field4,
		.field5{
			float: left;
			text-align: center;
			font-size: $smallFont;
		}

		.icon{
			width: 4em;
			height: 4.7em;
			line-height: 4.7em;
			text-align: center;
		}

		.menu{
			float: right;
			width: 8.25em;

			@include icons{
				width: 4em;
				float: left;
				height: 4.7em;
				line-height: 4.7em;
				text-align: center;
				border-radius: $padding2;
				@include hover($blueColor) { transition: .3s ease-in-out; }
			}
		}

		.field4{ width: 7em; }

		.field1{ width: 21em; }

		.field2{ width: 16em; }

		.field5{ width: 8.5em; }

		.field3{ width: 14.4em; }

		@include hover($secondColor) {
			@include drop-shadow-sm;
			transition: .3s ease-in-out;
			border-left: $padding solid $blueColor;
		}
	}

	.zero{
		height: 4em;
		color: inherit;
		display: block;
		cursor: default;
		line-height: 4em;
		text-decoration: none;
		box-sizing: border-box;
		padding-left: $padding2;
		@include drop-shadow-sm;
		margin-bottom: $padding2;
		border-radius: $padding2;
		background: $secondColor;
		font-size: $smallFont + .05;
		border-left: $padding solid $blueColor;
	}
}