.msg-return{
	left: 0;
	width: 100%;
	display: none;
	z-index: 999999;
	position: fixed;
	font-size: $smallFont;
	background: $firstColor;
	padding-left: $padding_base;
	height: $padding_base * 3.5;
	padding-right: $padding_base;
	line-height: $padding_base * 3.5;
	margin-left: $left_bar_size + $padding4;
	border-left: $border_size solid $borderColor;
	border-bottom: $border_size solid $borderColor;
}