@use "sass:math";

.mdl-title{
	background: $secondColor;
	height: $header_size - $padding2;
	border-top-left-radius: $padding2;
	border-top-right-radius: $padding2;
	line-height: $header_size - $padding2;
	
	input{
		width: 13em;
		float: right;
		border: none;
		outline: none;
		color: inherit;
		font-size: $smallFont;
		padding: $padding_base;
		padding-top: $padding_base + .35;
		padding-bottom: $padding_base + .35;

		@include hover;
		@include placeholder;
	}

	.label{
		float: left;
		outline: none;
		font-size: $smallFont + .05;
		padding-left: $padding_base;
		padding-right: $padding_base;
		line-height: $header_size - $padding3;
	}

	.actived{
		color: $blueColor !important;
		background: inherit !important;
	}

	@include icons{
		float: right;
		cursor: pointer;
		text-align: center;
		width: $header_size - $padding2;
		line-height: $header_size - $padding2;
		@include hover(transparent, $blueColor);
	}

	.fa-times{
		border-top-right-radius: $padding2;
		@include hover($redColor);
	}
}